@model IEnumerable<MovimentoModel>
@{
    ViewBag.Subtitulo = "Movimento de Saída de Climatizadores";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Cadastrar" class="btn btn-primary">Nova Saída</a>
    </div>
</header>
<hr>

<partial name="_Mensagem"></partial>


<table class="table table-striped tabela-btn-acao-esquerda">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Data do Movimento</th>
            <th>Número Contrato</th>
            <th>Início da Locação</th>
            <th>Fim da Locação</th>

            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimento in Model)
        {
            <tr>
                <td>@movimento.cliente.Fantasia</td>
                <td>@movimento.DataMovimento</td>
                <td>@movimento.NumeroContrato</td>
                <td>@movimento.InicioLocacao</td>
                <td>@movimento.FimLocacao</td>
                <td>
                    <a asp-action="SaidaDetalhes" asp-route-id="@movimento.IdMovimento"
                        class="btn btn-sm btn-secondary">Detalhes</a>




                </td>
            </tr>
        }
    </tbody>
</table>
